<!doctype html>
<html lang="en">
  <head>
    <title>NZA Law</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block css %}
    <link rel="stylesheet" href="../static/css/whoweare.css">
    {% endblock css %}
    <style>
    
        body {
        background-image: url('../static/images/nza_background.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
        }
      </style>
</head>
  <body>

      {% include 'nav.html' %}
    
      <div class="container">
      
        <!-- FLASH MESSAGES - BEGIN-->
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category,message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong> {{ message }} </strong> 
              </div>
            {% endfor %}
          {% endif %} 
        {% endwith %}     
  
    
    


     

        {% block content %}



        {% endblock content %}

      {% include 'footer.html' %}  
    
  </body>
</html>