{% extends  'base.html' %}

{%  block content   %}

   

 <h1>Case Notes Page</h1>

 <ol> 

   
<h1>Welcome, {{ current_user.username }}!</h1> 
  <h1> What would you like to do?</h1>
  <li><a class="one" href="{{url_for('casenotes')}}">CREATE CASE NOTES</a></li>
  <li><a class="one" href="{{url_for('casenotes')}}">RETRIEVE CASE NOTES</a></li>
  <li><a class="one" href="{{url_for('casenotes')}}">UPDATE CASE NOTES</a></li>
  <li><a class="one" href="{{url_for('casenotes')}}">DELETE CASE NOTES</a></li>
 </ol>
 
 
 {% endblock content %}


