<div class="container">
    <div class="row">
        <div class="col">
          <h1><span>NIELSON, ZEHE</span> <span>& ANTAS, P.C.</span></h1>
            <hr style="border:1.5px solid black">
                <ul>
                    <li><a class="one" href="/login">LOGIN</a><span class="divider">|</span></li>
                    <li><a class="one" href="/register">REGISTER</a><span class="divider">|</span></li>
                    <li><a class="one" href="/whatwedo">WHAT WE DO</a><span class="divider">|</span></li>
                    <li><a class="one" href="/whoweare">WHO WE ARE</a><span class="divider">|</span></li>
                    <li><a class="one" href="#about">CONTACT US</a></li>
                </ul>
            <hr style="border:1.5px solid black">
          
        </div>
    </div>
</div> 