{% extends 'base.html' %}

!doctype html>
<html lang="en">
  <head>
    <title>NZA Law</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/whatwedo.css">
    <style>
    
    body {
    background-image: url('../static/images/nza_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
    }
  </style>

  </head>
  <body>
    {% block content %}

    
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="box">
            <h6>WHAT WE DO</h6>
            <hr id="box-line">
            <p><a class="two" href="#">Welcome</a></p>
            <p><a class="two" href="#">Attorneys</a></p>
            <p><a class="two" href="#">Staff</a></p> 
            <p><a class="two" href="#">Reputation</a></p> 
            <p id="end"><a class="two" href="#">History</a></p>
            <img src="..\static\images\content-navlink-where.jpg" alt="">
            <p id="pic"><b>Where We Work</b></p>
            <p><a class="three" href="#">Find out more about our work coverage area</a></p>
          </div>
          
        </div>

        <div class="col">
          <p id="para">What do we do? What we do at Nielsen Zehe & Antas PC is prevent our client’s problems in some cases, solve their problems in other cases, and ultimately, if the problems cannot be prevented or solved, prepare to take the problems to trial and WIN. Our attorneys, who view themselves as problem solvers, have tried more cases to a jury or judge than most law firms collectively. Whether the problem is a lawsuit, business deal, or formation of a new business, we have the skill, experience, and business acumen to help our clients.</p>
          <a href="#"><img id ="wel" src="..\static\images\sub-01-welcome.jpg" alt="Welcome"></a>
          <a href="#"><img id="att" src="..\static\images\sub-01-attorneys.jpg" alt="Attorneys"></a> 
          <a href="#"><img id="staff"  src="..\static\images\sub-01-staff.jpg" alt=""></a>
          <a href="#"><img id="rep" src="..\static\images\sub-01-reputation.jpg" alt=""></a>
          <a href="#"><img id="his" src="..\static\images\sub-01-history.jpg" alt=""></a>
          
    </div>
  </div>
</div>
</body>
</html>

  {% endblock content %}