
{% extends 'base.html' %}


<!doctype html>
<html lang="en">
  <head>
    <title>NZA Law</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/whoweare.css">
    <style>
    
    body {
    background-image: url('../static/images/nza_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
    }
  </style>

  </head>

<body>
     <!-- <div class="container">
        <div class="row">
            <div class="col">
              <h1><span>NIELSON, ZEHE</span> <span>& ANTAS, P.C.</span></h1>
                <hr style="border:1.5px solid black">
                    <ul>
                        <li><a class="one" href="whoweare.html">LOGIN</a><span class="divider">|</span></li>
                        <li><a class="one" href="#">REGISTER</a><span class="divider">|</span></li>
                        <li><a class="one" href="#contact">WHO WE ARE</a><span class="divider">|</span></li>
                        <li><a class="one" href="#contact">WHAT WE DO</a><span class="divider">|</span></li>
                        <li><a class="one" href="#about">CONTACT US</a></li>
                    </ul>
                <hr style="border:1.5px solid black">
              
            </div>
        </div>
    </div> -->
    {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="box">
            <h6>WHO WE ARE</h6>
            <hr id="box-line">
            <p><a class="two" href="#">Welcome</a></p>
            <p><a class="two" href="#">Attorneys</a></p>
            <p><a class="two" href="#">Staff</a></p> 
            <p><a class="two" href="#">Reputation</a></p> 
            <p id="end"><a class="two" href="#">History</a></p>
            <img src="..\static\images\content-navlink-where.jpg" alt="">
            <p id="pic"><b>Where We Work</b></p>
            <p><a class="three" href="#">Find out more about our work coverage area</a></p>
          </div>
          
        </div>
          
        <div class="col">
              <p id="para">Who are we? That is one of the most important question a prospective client can ask us. Our answer --
              one of the most respected law firms in the country that cares about your case, your business, and solving
              your problem. We invite you to get to know our attorneys better and inserstand the depth of experience
              and talent we have in the links below.</p>
              <a href="#"><img id ="wel" src="..\static\images\sub-01-welcome.jpg" alt="Welcome"></a>
              <a href="#"><img id="att" src="..\static\images\sub-01-attorneys.jpg" alt="Attorneys"></a> 
              <a href="#"><img id="staff"  src="..\static\images\sub-01-staff.jpg" alt=""></a>
              <a href="#"><img id="rep" src="..\static\images\sub-01-reputation.jpg" alt=""></a>
              <a href="#"><img id="his" src="..\static\images\sub-01-history.jpg" alt=""></a>
              
        </div>
      </div>
    </div>
  <!-- </div>  -->
    
    <!-- <div class="container">
      <div class="row"> 
        <div class="col">
          <hr class="footer">
          <h6 id="bot-link"><b><a class="four" href="/">HOME</a> - <a class="four" href="whoweare.html">WHO WE ARE</a> - <a class="four" href="whatwedo.html">WHAT WE DO</a> - <a class="four" href="#">NEWS & EVENTS</a> - <a class="four" href="#">WHERE WE WORK</a> - <a class="four" href="#">CONTACT</a></h6></b>
          <p id=copy>All copyrights and legal info here</p>
        </div>
        
      </div>
    </div> -->
  <!-- </div> -->
  
  </body>
</html>
{% endblock content %}
